{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h1><strong>Create your customized character</strong></h1>
</div>

<div>
    <form id="CreateBuildForm" method="post" enctype="multipart/form-data">


     {% csrf_token %}
        <table>
             {{ CreateBuildForm.as_table }}

        </table>


            <div class="button">
                <button class="btn btn-default">Create</button>
            </div>

    </form>
    <p><a href="/builds/weaponsets/list">List Weapon Set</a></p>
    <p><a href="/builds/weaponsets/create">Create Weapon Set</a></p>
</div>


{% endblock %}
