{%extends "base.html" %}
{% block content %}
<span vocab="http://schema.org/" typeof="Game">
<span rel="character">
<div class="text-center">
    <h1>Customized Characters</h1>
</div>


    <div class="indicences_table">
      <table border="2px">
            <tr>
                <th >Name </th>
                <th >Race </th>
                <th >Gender </th>
                <th >Level </th>
                <th >Guild </th>
                <th >Profession </th>
            </tr>
    {% for i in list %}
            <tr>
                <td><span property="name">{{ i.name }}</span></td>
                <td><span property="description">{{ i.race }}</span></td>
                <td><span property="gender">{{ i.gender }}</span></td>
                <td><span property="description">{{ i.level }}</span></td>
                <td><span property="description">{{ i.guild }}</span></td>
                <td><span property="jobTitle">{{ i.profession_type }}</span></td>
                <td><a href="/characters/{{i.name}}/edit/"><strong>Edit</strong></a></td>
                <td><a href="/characters/delete/?name={{i.name}}"><strong>Delete</strong></a></td>
            </tr>
    {% endfor %}

        </table>
    </div>
</span>
</span>
{% endblock %}
