{% extends "base.html" %}
{% block content %}
<meta charset="UTF-8">
<span vocab="http://schema.org/" typeof="Game">
<h1>Information for events</h1>
<span rel="quest">
<table border="1">
    <tr>
        <td><strong>Time(UTC)</strong></td>
        <td><strong>Boss name</strong></td>
        <td><strong>Hardcore Boss Name</strong></td>
    </tr>
    {% for event in events %}
    <tr>
        <td><span property="description">{{event.0}}</td>
        <td><span property="name">{{event.1}}</span></td>
        <td><span property="name">{{event.2}}</span></td>
    </tr>
    {% endfor %}
</table></span>
</span>
{% endblock %}