{% extends "base.html" %}
{% block content %}
<meta charset="UTF-8">
<span vocab="http://schema.org/" typeof="Game">
<h1>Character Information</h1>
<span rel="character">
<table border="1">
    <tr>
        <td><strong>{{ charinfo.0.0 }}</strong></td>
        <td><span property="name">{{ charinfo.0.1 }}</span></td>
    </tr>

    <tr>
        <td><strong>{{ charinfo.1.0 }}</strong></td>
        <td><span property="description">{{ charinfo.1.1 }}</span></td>
    </tr>

    <tr>
        <td><strong>{{ charinfo.2.0 }}</strong></td>
        <td><span property="gender">{{ charinfo.2.1 }}</span></td>
    </tr>

    <tr>
        <td><strong>{{ charinfo.3.0 }}</strong></td>
        <td>{{ charinfo.3.1 }}</td>
    </tr>

    <tr>
        <td><strong>{{ charinfo.4.0 }}</strong></td>
        <td>{{ charinfo.4.1 }}</td>
    </tr>

    <tr>
        <td><strong>{{ charinfo.5.0 }}</strong></td>
        <td><span property="jobTitle">{{ charinfo.5.1 }}</span></td>
    </tr>

    <tr>
        <td><strong>{{ charinfo.6.0 }}</strong></td>
        <td><span property="description">{{ charinfo.6.1 }}</span></td>
    </tr>

    <tr>
        <td><strong>{{ charinfo.7.0 }}</strong></td>
        <td>{{ charinfo.7.1 }}</td>
    </tr>

    <tr>
        <td><strong>{{ charinfo.8.0 }}</strong></td>
        <td>{{ charinfo.8.1 }}</td>
    </tr>
</table>
</span>
</span>
{% endblock %}