{%extends "base.html" %}
{% block content %}
<span vocab="http://schema.org/" typeof="Thing">
<div class="text-center">
    <h1>Customized Builds</h1>
</div>


    <div class="build_table">
      <table border="2px">
            <tr>
                <th >Name </th>
                <th >Profession </th>
                <th >Gender </th>
                <th >Weaponset </th>
                <th >Character </th>
            </tr>
    {% for i in list %}
            <tr>
                <td><span property="description">{{ i.0 }}</span></td>
                <td><span property="description">{{ i.1 }}</span></td>
                <td><span property="description">{{ i.2 }}</span></td>
                <td><span property="description">{{ i.3 }}</span></td>
                <td><a href="/builds/{{i.0}}/edit/"><strong>Edit</strong></a></td>
                <td><a href="/builds/delete/?name={{i.0}}"><strong>Delete</strong></a></td>

            </tr>
    {% endfor %}

        </table>
    </div>
</span>
{% endblock %}
