{% extends "base.html" %}
{% block content %}
<meta charset="UTF-8">
<span vocab="http://schema.org/" typeof="Game">
<h1>Information for PvP games:</h1>
    <h2> Games </h2>
    <table border="1">
        <tr>
            <td><strong>Map</strong></td>
            <td><strong>Result</strong></td>
            <td><strong>Team</strong></td>
            <td><strong>Profession</strong></td>
            <td><strong>Red score</strong></td>
            <td><strong>Blue score</strong></td>
        </tr>
        {% for game in games %}
            <tr>
                <td><span property="gameLocation">{{ game.0 }}</span></td>
                <td><span property="description">{{ game.1 }}</span></td>
                <td><span property="description">{{ game.2 }}</span></td>
                <td><span property="description">{{ game.3 }}</span></td>
                <td><span property="description">{{ game.4 }}</span></td>
                <td><span property="description">{{ game.5 }}</span></td>
            </tr>
        {% endfor %}
    </table>
    {% for items in games %}
        <br> </br>
    {% endfor %}
</span>
{% endblock %}