{%extends "base.html" %}
{% block content %}
<div class="text-center">
    <h1>List of Characters</h1>
</div>


    <div class="indicences_table">
      <table border="2px">
            <tr>
                <th >Name </th>
                <th >Race </th>
                <th >Gender </th>
                <th >Level </th>
                <th >Guild </th>
                <th >Profession </th>
            </tr>
    {% for i in list %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.race }}</td>
                <td>{{ i.gender }}</td>
                <td>{{ i.level }}</td>
                <td>{{ i.guild }}</td>
                <td>{{ i.profession_type }}</td>
                <td><a href="/characters/edit/?name={{i.name}}"><strong>Edit</strong></a></td>
                <td><a href="/characters/delete/?name={{i.name}}"><strong>Delete</strong></a></td>
            </tr>
    {% endfor %}

        </table>
    </div>

{% endblock %}
