{% extends "base.html" %}
{% block content %}
<div id="content">
    <br><a href="/gw2_app/events">Events</a> <br/>
    <br><a href="/gw2_app/characters">Characters</a> <br/>
    <br><a href="/gw2_app/dailies">Dailies</a> <br/>
    <br><a href="/gw2_app/professions">Professions</a> <br/>
    <br><a href="/gw2_app/bank">Bank</a> <br/>
    <br><a href="/gw2_app/tradingpost">Trading Post Transactions</a><br/>
    <br><a href="/gw2_app/pvp">PvP</a><br/>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</div>
{% endblock %}