{% extends "base.html" %}
{% block content %}
<h1>Profession Skill Information for {{prof}}</h1>
    <!--<br>{{skills}}</br>-->
    <table border="1">
        <tr>
            <td><strong>Skill name</strong></td>
            <td><strong>Skill slot</strong></td>
            <td><strong>Description</strong></td>
        </tr>
        {% for skill in skills %}
            <tr>
                <td>{{skill.0}}</td>
                <td>{{skill.1}}</td>
                <td>{{skill.2}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}