{% extends "base.html" %}
{% block content %}
<meta charset="UTF-8">
<h1>Information for PvP games:</h1>
    <h2> Games </h2>
    <table border="1">
        <tr>
            <td><strong>Map</strong></td>
            <td><strong>Result</strong></td>
            <td><strong>Team</strong></td>
            <td><strong>Profession</strong></td>
            <td><strong>Red score</strong></td>
            <td><strong>Blue score</strong></td>
        </tr>
        {% for game in games %}
            <tr>
                <td>{{ game.0 }}</td>
                <td>{{ game.1 }}</td>
                <td>{{ game.2 }}</td>
                <td>{{ game.3 }}</td>
                <td>{{ game.4 }}</td>
                <td>{{ game.5 }}</td>
            </tr>
        {% endfor %}
    </table>
    {% for items in games %}
        <br> </br>
    {% endfor %}
{% endblock %}